<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <title>Document</title>
</head>
<body>
    <img src="" alt="">
    <h2 id="datePage1">02-03-2017</h2>
    <textarea id="entryPage1">Lorem ipsum \n dolor sit, amet consectetur adipisicing elit. Fugiat totam quis vero ipsa eaque, nobis ab non perspiciatis! Aperiam corporis eos minima, fugit sequi repellendus dolores accusamus a voluptate enim.</textarea>
    <div id="pageSeperation"></div>
    <div id="filterPanel"></div>
</body>
</html>